@page "/"
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IJSRuntime JsRuntime;
@inject IStringLocalizer<Index> L

<PageTitle>Arbeitszeitenrechner</PageTitle>
<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th class="col-lg-12">
                <div class="btn-group btn-group-toggle col-lg-12">
                    <div class="col-lg-2">
                        <button class="btn btn-primary" @onclick="() => ChangeLanguageToGerman()">Deutschland</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary" @onclick="() => ChangeLanguageToEnglisch()">English</button>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th class="col-lg-6">
                <div>
                    <h1>@L["PauseTime"]</h1>
                </div>
            </th>
            <th class="col-lg-6">
                <div>
                    <h1>@L["WorkTime"]</h1>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="col-lg-6">
                <div class="btn-group btn-group-toggle col-lg-12" data-toggle="buttons">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked=@(IsCheckedPause(0)) autocomplete="off" @onclick=@(_ => SetPauseValue(0, null))>
                    <label class="btn btn-outline-primary" for="btnradio1">0 @L["Minutes"]</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked=@(IsCheckedPause(30)) @onclick=@(_ => SetPauseValue(30, null))>
                    <label class="btn btn-outline-primary" for="btnradio2">30 @L["Minutes"]</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked=@(IsCheckedPause(45)) @onclick=@(_ => SetPauseValue(45, null))>
                    <label class="btn btn-outline-primary" for="btnradio3">45 @L["Minutes"]</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" @onclick=@(_ => SetCustomValueActive(0))>
                    <label class="btn btn-outline-primary" for="btnradio4">Custom</label>

                    @if (showCustomPause)
                    {
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <input type="number" class="form-control mx-2" @bind="customPauseValue"/>
                            </td>
                        </tr>
                    }
                </div>
            </th>
            <th class="col-lg-6">
                <div class="btn-group btn-group-toggle col-lg-12" data-toggle="buttons">

                    <input type="radio" class="btn-check" name="btn-radio_Work" id="btn-radio_Work1" autocomplete="off" @onclick=@(_ => SetWorkValue(6, null))>
                    <label class="btn btn-outline-primary" for="btn-radio_Work1">6 @L["Hours"]</label>

                    <input type="radio" class="btn-check" name="btn-radio_Work" id="btn-radio_Work2" autocomplete="off" @onclick=@(_ => SetWorkValue(7, null))>
                    <label class="btn btn-outline-primary" for="btn-radio_Work2">7 @L["Hours"]</label>

                    <input type="radio" class="btn-check" name="btn-radio_Work" id="btn-radio_Work3" autocomplete="off" checked @onclick=@(_ => SetWorkValue(8, null))>
                    <label class="btn btn-outline-primary" for="btn-radio_Work3">8 @L["Hours"]</label>

                    <input type="radio" class="btn-check" name="btn-radio_Work" id="btn-radio_Work4" autocomplete="off" @onclick=@(_ => SetWorkValue(10, null))>
                    <label class="btn btn-outline-primary" for="btn-radio_Work4">10 @L["Hours"]</label>

                    <input type="radio" class="btn-check" name="btn-radio_Work" id="btn-radio_Work5" autocomplete="off" @onclick=@(_ => SetCustomValueActive(1))>
                    <label class="btn btn-outline-primary" for="btn-radio_Work5">Custom</label>

                    @if (showCustomWork)
                    {
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <input type="number" class="form-control mx-2" @bind="customWorkValue"/>
                            </td>
                        </tr>
                    }
                </div>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<br/>

<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th class="col-lg-6">
                <h1>@L["WorkStart"]</h1>
            </th>
            <th class="col-lg-6">
                <h1>@L["WorkEnd"]</h1>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="col-lg-6">
                <div class="col-lg-12">
                    <input class="form-control" type="time" @bind="starttime"/>
                </div>
            </th>
            <th class="col-lg-6">
                <div class="col-lg-12">
                    <h3 class="form-control">@endtimeString</h3>
                </div>
            </th>
        </tr>
        </tbody>
    </table>

    <div class="h-100 d-flex align-items-center justify-content-center">
        <h1>Countdown</h1>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        @if (Running)
        {
            <h3>@timeleftAsString</h3>

        }
        else
        {
            <h3>@L["EndOfWork"]</h3>
        }
        
    </div>

    @if (needPause)
    {
        <div class="h-100 d-flex align-items-center justify-content-center">
            <h3>@L["UntilPause"] @needPauseValue</h3>
        </div>
    }
    <button class="btn btn-primary col-lg-12" data-toggle="button" @onclick=@(_ => CalculateTime(workValue, pauseValue))> @L["CalculateTime"]</button>
</div>

@code
{
    #region Timespan

    TimeSpan pauseValue = new TimeSpan(0, 30, 0);
    TimeSpan workValue = new TimeSpan(8, 0, 0);
    TimeSpan mustPause = new TimeSpan(hours: 6, 0, 0);
    static TimeSpan timeleft;

    #endregion

    #region DateTime

    DateTime starttime;
    DateTime endtime;
    DateTime whenPause = new DateTime();

    #endregion

    private bool Germany;
    private bool English;
    private bool Running = true;
    
    string endtimeString = "00:00";
    string needPauseValue = "00:00";
    bool needPause;
    static string timeleftAsString;

    bool showCustomPause = false;
    bool showCustomWork = false;
    int customPauseValue;
    int customWorkValue;

    Task? timeTask = null;

    static bool isActive;


    protected override async Task OnInitializedAsync()
    {
        var lDotNetReference = DotNetObjectReference.Create(this);
        await JsRuntime.InvokeVoidAsync("GLOBAL.SetDotnetReference", lDotNetReference);
        await JsRuntime.InvokeVoidAsync("isVisible");

        var cultureCheck = new CultureInfo("de");
        if (CultureInfo.CurrentCulture.Equals(cultureCheck))
        {
            ChangeLanguageToGerman();
        }
        else
        {
            ChangeLanguageToEnglisch();
        }
        StateHasChanged();
    }

    [JSInvokable("setTabActive")]
    public void SetActive(bool status)
    {
        isActive = status;
        if (isActive && timeleftAsString != string.Empty)
        {
            CalculateTime(workValue, pauseValue);
        }
        StateHasChanged();
    }


    async Task Timer(CancellationToken ct)
    {
        timeleft = endtime.Subtract(DateTime.Now);
        var sec = new TimeSpan(0, 0, 1);

        if (ct.IsCancellationRequested)
        {
            if (timeleft <= new TimeSpan())
            {
                Running = false;
            }
            return;
        }

        while (timeleft > new TimeSpan())
        {
            await Task.Delay(1000);
            timeleft = timeleft.Subtract(sec);
            timeleftAsString = timeleft.ToString("hh':'mm':'ss");
            ct.ThrowIfCancellationRequested();
            StateHasChanged();
        }


        Running = false;
        StateHasChanged();
    }

    private void SetPauseValue(int val, int? id)
    {
        if (id != null) return;
        showCustomPause = false;
        pauseValue = new TimeSpan(0, val, 0);
        StateHasChanged();
    }


    private void SetWorkValue(int val, int? id)
    {
        if (id != null) return;
        showCustomWork = false;
        workValue = new TimeSpan(val, 0, 0);

        if (val >= 9)
        {
            SetPauseValue(45, null);
        }

        StateHasChanged();
    }

    private void SetCustomValueActive(int id)
    {
        if (id == 0)
        {
    //Show Custom Pause Input
            showCustomPause = !showCustomPause;
            StateHasChanged();
        }
        else
        {
            showCustomWork = !showCustomWork;
            StateHasChanged();
        }
    }

    void ChangeLanguageToEnglisch()
    {
        var selectedCulture = new CultureInfo("en");
        Germany = false;
        English = true;
        CultureInfo.CurrentCulture = selectedCulture;
        CultureInfo.CurrentUICulture = selectedCulture;
        StateHasChanged();
    }

    void ChangeLanguageToGerman()
    {
        var selectedCulture = new CultureInfo("de");
        Germany = true;
        English = false;
        CultureInfo.CurrentCulture = selectedCulture;
        CultureInfo.CurrentUICulture = selectedCulture;
        StateHasChanged();
    }

    void CalculateTime(TimeSpan hours, TimeSpan minutes)
    {
        CancellationTokenSource cts = new();
        
        if (Germany == true)
        {
            ChangeLanguageToGerman();
        }
        else
        {
            ChangeLanguageToEnglisch();
        }

        if (showCustomWork)
        {
            hours = new TimeSpan(customWorkValue, 0, 0);
        }

        if (showCustomPause)
        {
            minutes = new TimeSpan(0, customPauseValue, 0);
        }

        endtime = starttime + DateTime.Today.TimeOfDay + hours + minutes;
        whenPause = starttime + mustPause;

        if (workValue > new TimeSpan(6, 0, 0))
        {
            needPause = true;
            needPauseValue = whenPause.ToString("HH:mm");
        }

        endtimeString = endtime.ToString("HH:mm");

        if (timeTask != null)
        {
            cts.Cancel();
            cts.TryReset();
            timeTask = Timer(cts.Token);
        }

        timeTask = Timer(cts.Token);
    }

    private bool IsCheckedPause(int value)
    {
        var result = pauseValue.Minutes == value;
        return result;
    }
}